services:
  traefik:
    image: {{ traefik_image }}:{{ traefik_version }}
    container_name: traefik
    hostname: {{ traefik_domain }}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/root/docker/traefik/acme.json:/acme.json"
      - "/root/docker/traefik/htpasswd:/etc/traefik/htpasswd"
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.myresolver.acme.email={{ traefik_email }}"
      - "--certificatesresolvers.myresolver.acme.storage=/acme.json"
      - "--api.dashboard=true"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`{{ traefik_domain }}`)"
      - "traefik.http.routers.api.rule=Host(`{{ traefik_domain }}`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls.certresolver=myresolver"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.usersfile=/etc/traefik/htpasswd"
    networks:
      - web
    restart: unless-stopped

{% if not use_sqlite %}
  postgres:
    image: {{ postgres_image }}:{{ postgres_version }}
    container_name: postgres
    hostname: postgres
    environment:
      - POSTGRES_DB={{ db_name }}
      - POSTGRES_USER={{ db_user }}
      - POSTGRES_PASSWORD={{ db_password }}
    volumes:
      - /root/docker/postgres/data:/var/lib/postgresql/data
    networks:
      - web
    restart: unless-stopped
{% endif %}

{% if use_pgadm %}
  pgadmin:
    image: {{ pgadm_image }}:{{ pgadm_version }}
    container_name: pgadmin
    hostname: {{ pgadm_domain }}
    environment:
      PGADMIN_DEFAULT_EMAIL: {{ pgadm_email }}
      PGADMIN_DEFAULT_PASSWORD: {{ pgadm_password }}
    ports:
      - "8080:80"
    volumes:
      - /root/docker/postgres/pgadmin:/var/lib/pgadmin
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pgadmin.rule=Host(`{{ pgadm_domain }}`)"
      - "traefik.http.routers.pgadmin.entrypoints=websecure"
      - "traefik.http.routers.pgadmin.tls=true"
      - "traefik.http.routers.pgadmin.tls.certresolver=myresolver"
      - "traefik.http.routers.pgadmin.middlewares=auth"
      - "traefik.http.services.pgadmin.loadbalancer.server.port=80"
      - "traefik.http.middlewares.auth.basicauth.usersfile=/etc/traefik/htpasswd"
    depends_on:
      - postgres
    networks:
      - web
    restart: unless-stopped
{% endif %}

  wiki:
    image: {{ wiki_image }}:{{ wiki_version }}
    container_name: wiki
    hostname: {{ wiki_domain }}
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Moscow
{% if not use_sqlite %}
      - DB_TYPE=postgres
      - DB_HOST={{ db_host }}
      - DB_PORT={{ db_port }}
      - DB_USER={{ db_user }}
      - DB_PASS={{ db_password }}
      - DB_NAME={{ db_name }}
{% else %}
      - DB_TYPE=sqlite
{% endif %}
    volumes:
      - /root/docker/wiki/config:/config
      - /root/docker/wiki/data:/data
      - /root/docker/wiki/git:/git
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wiki.rule=Host(`{{ wiki_domain }}`)"
      - "traefik.http.routers.wiki.tls=true"
      - "traefik.http.routers.wiki.entrypoints=websecure"
      - "traefik.http.routers.wiki.tls.certresolver=myresolver"
      - "traefik.http.services.wiki.loadbalancer.server.port=3000"
{% if not use_sqlite %}
    depends_on:
      - postgres
{% endif %}
    networks:
      - web
    restart: unless-stopped

  postfix:
    container_name: postfix
    hostname: {{ mail_domain }}
    image: boky/postfix
    environment:
      - ALLOWED_SENDER_DOMAINS={{ mail_domain }}
      - POSTFIX_myhostname={{ mail_domain }}
      - POSTFIX_mynetworks={{ docker_subnet }}
    volumes:
      - "/root/docker/postfix/keys:/etc/opendkim/keys"
    labels:
      - "traefik.enable=false"
    networks:
      - web
    restart: unless-stopped

networks:
  web:
    external: true
